html, body{
	width:100%;
	margin:0;
	overflow:hidden;
	}
header{
	background:#000;
	padding:10px;
	color:#fff;
	}
section{
	
	}
aside{
	position:absolute;
    float:left;
    width: 20%;
	background:#000;
	position:absolute;
	height:100%;
	display:inline-block;
	}
aside ul{
	list-style:none;
	padding:0;
	margin:0;
	}
aside ul li{
	list-style:none;
	padding:0;
	border-bottom:1px solid #ff1111;
	}
.right_section{
	position:relative;
	float:right;	
	width:100%;
	}	
.right_section p{
	margin:0;
	}
.right_section_2{
	width:80%;
	margin:0;
	}